// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form_field {
	padding:0px;
	padding-top: 2px;
	margin-top: 3px;
	width:auto;

	input {
		margin: 0px;
		width: 250px;
		border: 1px dashed #666666;
		background-color: #eaeaea;
		padding:2px;
		text-align: center;
	}
	textarea {
		margin: 0px;
		width: 70%;
		max-width: 70%;
		border: 1px dashed #666666;
		background-color: #eaeaea;
		padding:2px;
	}
	label {
		display :inline-block;
		width: 100px;
		text-align: right;
		padding-right: 10px;
		vertical-align: top;
	}
	select {
		margin: 0px;
		width: 250px;
		border: 1px dashed #666666;
		background-color: #eaeaea;
		padding:2px;
		text-align: center;
	}

}

.form_submit {
	padding:0px;
	margin-top: 15px;
	width:auto;

	input {
		margin-left: 50px;
		width: 250px;
		border: 1px dashed #666666;
		padding:2px;
		text-align: center;
		background-color: #cccccc;
	}
}